/**
 * @file
 * Reset most HTML elements styles for the off-canvas dialog.
 *
 * This is a generic reset. Drupal-specific classes are reset in components.
 */

/**
 * Do not include div in then initial overrides because including div will
 * cause the need for many more overrides in this file.
 */
#drupal-off-canvas *:not(div),
#drupal-off-canvas *:not(svg *),
#drupal-off-canvas *:after,
#drupal-off-canvas *:before {
  box-sizing: border-box;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: initial;
}

/* Reset size and position on elements. */
#drupal-off-canvas {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, cite, code, dd, del, dfn, dialog, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
  }
}

/*
 * Override the default (display: inline) for browsers that do not recognize HTML5 tags.
 * IE8 (and lower) requires a shiv: http://ejohn.org/blog/html5-shiv
 */
#drupal-off-canvas {
  article, aside, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
    border-radius: 0;
    line-height: normal;
  }
}

/*
 * Makes browsers agree.
 * IE + Opera = font-weight: bold.
 * Gecko + WebKit = font-weight: bolder.
 */
#drupal-off-canvas b,
#drupal-off-canvas strong {
  font-weight: bold;
}

#drupal-off-canvas em,
#drupal-off-canvas i {
  font-style: italic;
}

#drupal-off-canvas img {
  vertical-align: middle;
  color: transparent;
  font-size: 0;
}

#drupal-off-canvas ul,
#drupal-off-canvas ol {
  list-style: none;
}

/* reset table styling. */
#drupal-off-canvas table {
  border-spacing: 0;
  border-collapse: collapse;
}
#drupal-off-canvas table thead,
#drupal-off-canvas table tbody,
#drupal-off-canvas table tbody tr:nth-child(even),
#drupal-off-canvas table tbody tr:nth-child(odd),
#drupal-off-canvas table tfoot {
  border: 0;
  background: transparent none;
}
#drupal-off-canvas th,
#drupal-off-canvas td,
#drupal-off-canvas caption {
  font-weight: normal;
}
#drupal-off-canvas q {
  quotes: none;
}
#drupal-off-canvas q:before,
#drupal-off-canvas q:after {
  content: none;
}
#drupal-off-canvas sub,
#drupal-off-canvas sup,
#drupal-off-canvas small {
  font-size: 75%;
}
#drupal-off-canvas sub,
#drupal-off-canvas sup {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
}
#drupal-off-canvas sub {
  bottom: -0.25em;
}
#drupal-off-canvas sup {
  top: -0.5em;
}

/*
 * For IE9. Without, occasionally draws shapes
 * outside the boundaries of <svg> rectangle.
 */
#drupal-off-canvas svg {
  overflow: hidden;
}

/* Specific resets for inputs. */
#drupal-off-canvas input[type="search"]::-webkit-search-decoration {
  display: none;
}
#drupal-off-canvas input {
  margin: 0;
  padding: 0;
}
#drupal-off-canvas input[type="checkbox"],
#drupal-off-canvas input[type="radio"] {
  position: static;
  margin: 0;
}
#drupal-off-canvas input:invalid,
#drupal-off-canvas button:invalid,
#drupal-off-canvas select:invalid,
#drupal-off-canvas textarea:invalid,
#drupal-off-canvas input:focus,
#drupal-off-canvas button:focus,
#drupal-off-canvas select:focus,
#drupal-off-canvas textarea:focus,
#drupal-off-canvas input[type="file"]:focus,
#drupal-off-canvas input[type="file"]:active,
#drupal-off-canvas input[type="radio"]:focus,
#drupal-off-canvas input[type="radio"]:active,
#drupal-off-canvas input[type="checkbox"]:focus,
#drupal-off-canvas input[type="checkbox"]:active {
  z-index: 1;
  box-shadow: none;
}
#drupal-off-canvas input[role="button"] {
  cursor: pointer;
}
#drupal-off-canvas button,
#drupal-off-canvas input[type="reset"],
#drupal-off-canvas input[type="submit"],
#drupal-off-canvas input[type="button"] {
  display: inline-block;
  overflow: visible;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0;
  background-image: none;
  text-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#drupal-off-canvas button:hover,
#drupal-off-canvas input[type="reset"]:hover,
#drupal-off-canvas input[type="submit"]:hover,
#drupal-off-canvas input[type="button"]:hover {
  text-decoration: none;
  background-image: none;
}
#drupal-off-canvas button:active,
#drupal-off-canvas input[type="reset"]:active,
#drupal-off-canvas input[type="submit"]:active,
#drupal-off-canvas input[type="button"]:active {
  border-color: gray;
  background-image: none;
  box-shadow: none;
}
#drupal-off-canvas button::-moz-focus-inner,
#drupal-off-canvas input[type="reset"]::-moz-focus-inner,
#drupal-off-canvas input[type="submit"]::-moz-focus-inner,
#drupal-off-canvas input[type="button"]::-moz-focus-inner {
  padding: 0;
  border: 0;
}
#drupal-off-canvas textarea,
#drupal-off-canvas select,
#drupal-off-canvas input[type="date"],
#drupal-off-canvas input[type="datetime"],
#drupal-off-canvas input[type="datetime-local"],
#drupal-off-canvas input[type="email"],
#drupal-off-canvas input[type="month"],
#drupal-off-canvas input[type="number"],
#drupal-off-canvas input[type="password"],
#drupal-off-canvas input[type="search"],
#drupal-off-canvas input[type="tel"],
#drupal-off-canvas input[type="text"],
#drupal-off-canvas input[type="time"],
#drupal-off-canvas input[type="url"],
#drupal-off-canvas input[type="week"] {
  height: auto;
  vertical-align: middle;
  border-radius: 0;
}
#drupal-off-canvas textarea[disabled],
#drupal-off-canvas select[disabled],
#drupal-off-canvas input[type="date"][disabled],
#drupal-off-canvas input[type="datetime"][disabled],
#drupal-off-canvas input[type="datetime-local"][disabled],
#drupal-off-canvas input[type="email"][disabled],
#drupal-off-canvas input[type="month"][disabled],
#drupal-off-canvas input[type="number"][disabled],
#drupal-off-canvas input[type="password"][disabled],
#drupal-off-canvas input[type="search"][disabled],
#drupal-off-canvas input[type="tel"][disabled],
#drupal-off-canvas input[type="text"][disabled],
#drupal-off-canvas input[type="time"][disabled],
#drupal-off-canvas input[type="url"][disabled],
#drupal-off-canvas input[type="week"][disabled] {
  background-color: gray;
}
#drupal-off-canvas input[type="hidden"] {
  visibility: hidden;
}
#drupal-off-canvas button[disabled],
#drupal-off-canvas input[disabled],
#drupal-off-canvas select[disabled],
#drupal-off-canvas select[disabled] option,
#drupal-off-canvas select[disabled] optgroup,
#drupal-off-canvas textarea[disabled] {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
}
#drupal-off-canvas input:placeholder,
#drupal-off-canvas textarea:placeholder {
  color: gray;
}
#drupal-off-canvas textarea,
#drupal-off-canvas select[size],
#drupal-off-canvas select[multiple] {
  height: auto;
}
#drupal-off-canvas select[size="0"],
#drupal-off-canvas select[size="1"] {
  height: auto;
}
#drupal-off-canvas textarea {
  overflow: auto;
  width: 100%;
  min-height: 40px;
  resize: vertical;
}
#drupal-off-canvas optgroup {
  color: black;
  font-weight: normal;
  font-style: normal;
}
#drupal-off-canvas optgroup::-moz-focus-inner {
  padding: 0;
  border: 0;
}
#drupal-off-canvas * button {
  overflow: visible;
  width: auto;
  padding: 0;
  vertical-align: middle;
  text-decoration: none;
  color: black;
  border: 1px solid gray;
  background: none;
}
#drupal-off-canvas * textarea,
#drupal-off-canvas * select,
#drupal-off-canvas *:not(div) textarea,
#drupal-off-canvas *:not(div) select {
  padding: 0;
  vertical-align: top;
  color: black;
  border: 1px solid gray;
  background: white;
}

/* To standardize off-canvas selection color. */
#drupal-off-canvas ::-moz-selection,
#drupal-off-canvas ::selection {
  color: inherit;
  background-color: rgba(175, 175, 175, 0.5);
}
