// Messages
//
.messages {
  border: 1px solid var(--mag-border);
  border-left-width: 5px;
  padding: 1rem;
  font-size: 14px;
  margin: 1rem;

  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  &--info {
    background: transparent;
    border-color: var(--mag-info);
    color: var(--mag-info);
  }

  &--status {
    background: transparent;
    border-color: var(--mag-success);
    color: var(--mag-success);
  }

  &--warning {
    background: transparent;
    border-color: var(--mag-warning);
    color: var(--mag-warning);
  }

  &--error {
    background: transparent;
    border-color: var(--mag-error);
    color: var(--mag-error);
  }

  .layout-builder__message--overrides & {
    background: #e3f2fd;
    border-color: #64b5f6;
    color: #42a5f5;
  }
}
