{#
/**
 * @file
 * Default theme implementation to display a video with Plyr.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_plyr_video()

 * @ingroup themeable
 */
#}
<div {{ attributes }}></div>
