.block--page-title-block {
  .field__label {
    color: var(--mag-text-primary);
  }
}

// Default page title style
// ----------------------------

.block--region-content-header,
.block--layout-builder {

  &.block--page-title-block {
    @include default_page_title_style;
  }
}
