@import 'variables';

// Bootstrap
//
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.themag-layout {

  // Regions
  //
  &__region {
    @include make-col-ready;
  }

  // Section margin
  //
  &--my-default {
    margin-bottom: $section--margin-bottom;
  }

  // Section padding
  //
  &--py-xsmall {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &--py-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &--py-medium {
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include media-breakpoint-up(md) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  &--py-large {
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include media-breakpoint-up(md) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }

  &--py-xlarge {
    padding-top: 4rem;
    padding-bottom: 4rem;
    @include media-breakpoint-up(lg) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
}

// Sticky columns
//
.themag-layout--is-sticky > div {
  position: sticky;
  top: 16px;
  .themag--has-sticky-header & {
    top: 80px;
  }
}

// No gutters
//
.no-gutters {
  > .themag-layout__region {
    padding-right: 0;
    padding-left: 0;
  }
}
