// Quote
//
.paragraph--type--quote {
  .field--name-field-text {
    color: var(--mag-text-primary);
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 900;
    font-style: italic;
  }
  .field--name-field-source {
    color: var(--mag-text-secondary);
    font-size: 1.2rem;
    font-style: italic;
    &:before {
      content: '-';
      margin-right: .5rem;
    }
  }
}
