.menu--footer ul.menu {
  text-align: center;
  margin-top: 1rem;
  padding-left: 0;
  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
  li {
    display: inline-block;
    margin-left: .5rem;
    a {
      color: var(--mag-text-secondary);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
