// Full Pager
// ------------------------
ul.pager__items {
  display: block;
  margin: 3rem 0 0 0;
  padding: 2rem 0 0 0;
  border-top: 2px solid var(--mag-border);
  font-size: 16px;
  text-align: center;
  li {
    display: inline-block;
    margin: .5rem 0;
    padding: 0;
      a {
        display: block;
        padding: 0 5px;
        color: var(--mag-text-primary);
        text-decoration: none;
        transition: background .2s ease-in-out;
        @include media-breakpoint-up(md) {
          padding: 5px 16px;
          border: 1px solid var(--mag-button);
        }
        &:hover {
          background: var(--mag-button-hover);
        }
      }
      &.is-active {
        background: var(--mag-button-hover);
        border-color: var(--mag-button-hover);
        color: var(--mag-text-primary);
        a {
          color: var(--mag-text-primary);
          &:hover {
            background: var(--mag-button-hover);
          }
        }
      }
  }
}


// Load More Button
// ------------------------
.pager--load-more {
  @include list__reset;
  margin-top: 2.5rem;
  padding-top: 2rem;
  border-top: 1px solid var(--mag-border);
  font-size: 16px;
  text-align: center;
}
