// Use this file to store your SCSS variables. You can override
// any of the TheMAG variables as well.
// To do that, open the themes/themag/_src/themag/scss/_variables.scss file
// and copy the variable you wish to override.
//
// Example:
// Copy the $theme-primary-color: $blue-400 !default;
// Change it to: $theme-primary-color: green;
//
// Background color
$theme-light-default-bg: #952230;
$theme-primary-color: green;