/**
 * @file
 * Styles for lists of entities display using FieldWidgetDisplayInterface plugins.
 */
.entities-list {
  margin-bottom: 16px;
}

.entities-list .item-container {
  background: transparent !important;
  display: block;
  margin: 0;
}

.entities-list .item-container > .media,
.entities-list .item-container > img,
.entities-list .item-container > input {
  display: inline-block;
  margin: 0 8px 0 0;
}

.entities-list .item-container,
.entities-list .item-container.rendered-entity,
.entities-list.ui-sortable .item-container {
  display: inline-block;
  margin: 0;
  padding: 0 32px 0 0;
  position: relative;
  vertical-align: text-top;
  background: #eeeeee;
}

.entities-list .item-container img,
.entities-list .item-container.rendered-entity img,
.entities-list.ui-sortable .item-container img {
  display: block;
  margin: 0;
}

.entities-list .item-container input,
.entities-list .item-container.rendered-entity input,
.entities-list.ui-sortable .item-container input {
  display: inline-block;
  margin: 0;
}

.entities-list .item-container .edit-button,
.entities-list .item-container .replace-button,
.entities-list .item-container .remove-button,
.entities-list .item-container .entity-browser-remove-selected-entity,
.entities-list .item-container.rendered-entity .edit-button,
.entities-list .item-container.rendered-entity .replace-button,
.entities-list .item-container.rendered-entity .remove-button,
.entities-list .item-container.rendered-entity .entity-browser-remove-selected-entity,
.entities-list.ui-sortable .item-container .edit-button,
.entities-list.ui-sortable .item-container .replace-button,
.entities-list.ui-sortable .item-container .remove-button,
.entities-list.ui-sortable .item-container .entity-browser-remove-selected-entity {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #9e9e9e;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  overflow: hidden;
  text-transform: none;
  font-weight: normal;
  text-indent: -9999rem;
  position: absolute;
  right: 4px;
}

.entities-list .item-container .edit-button:hover,
.entities-list .item-container .replace-button:hover,
.entities-list .item-container .remove-button:hover,
.entities-list .item-container .entity-browser-remove-selected-entity:hover,
.entities-list .item-container.rendered-entity .edit-button:hover,
.entities-list .item-container.rendered-entity .replace-button:hover,
.entities-list .item-container.rendered-entity .remove-button:hover,
.entities-list .item-container.rendered-entity .entity-browser-remove-selected-entity:hover,
.entities-list.ui-sortable .item-container .edit-button:hover,
.entities-list.ui-sortable .item-container .replace-button:hover,
.entities-list.ui-sortable .item-container .remove-button:hover,
.entities-list.ui-sortable .item-container .entity-browser-remove-selected-entity:hover {
  background-color: #01579b;
}

.entities-list .item-container .edit-button,
.entities-list .item-container.rendered-entity .edit-button,
.entities-list.ui-sortable .item-container .edit-button {
  -webkit-mask-image: url(../../../misc/icons/edit-24px.svg);
          mask-image: url(../../../misc/icons/edit-24px.svg);
  bottom: 4px;
}

.entities-list .item-container .replace-button,
.entities-list .item-container.rendered-entity .replace-button,
.entities-list.ui-sortable .item-container .replace-button {
  -webkit-mask-image: url(../../../misc/icons/loop-24px.svg);
          mask-image: url(../../../misc/icons/loop-24px.svg);
  top: 32px;
}

.entities-list .item-container .remove-button,
.entities-list .item-container .entity-browser-remove-selected-entity,
.entities-list .item-container.rendered-entity .remove-button,
.entities-list .item-container.rendered-entity .entity-browser-remove-selected-entity,
.entities-list.ui-sortable .item-container .remove-button,
.entities-list.ui-sortable .item-container .entity-browser-remove-selected-entity {
  -webkit-mask-image: url(../../../misc/icons/delete-24px.svg);
          mask-image: url(../../../misc/icons/delete-24px.svg);
  top: 4px;
}

.entities-list.ui-sortable {
  padding: 8px;
}

.entities-list.ui-sortable .item-container {
  margin-bottom: 16px;
}

.entities-list.ui-sortable .item-container:hover {
  cursor: move;
  opacity: 0.6;
}

.entities-list.hidden {
  display: none;
}

.entity-browser-multiple-image-browser-form .entities-list .item-container {
  margin: 0 8px 8px 0;
}
