
// Maintenance page
// ------------------------------

.maintenance-page .layout-container {
  width: auto;
  margin: 1.5rem;
  padding: 3rem;
  border: 1px solid var(--mag-border);
  @include media-breakpoint-up(md) {
    width: 700px;
    margin: 3rem auto;
  }
  header {
    border-bottom: 1px solid var(--mag-border);
    margin-bottom: 1rem;
    padding-bottom: 1.4rem;
  }

  h1 {
    font-size: 2rem;
    color: var(--mag-text-primary);
  }
}
