// --------------------
// Footer
// --------------------
.footer-wrapper {
  background: var(--mag-bg-grey);
  padding: 5rem 0;
  font-size: .889rem;
}

// --------------------
// Footer Bottom
// --------------------
.footer-bottom-wrapper {
  font-size: 1rem;
  @include media-breakpoint-up(md) {
    font-size: .779rem;
  }
}
