// Branding

.site-logo {
  .logo-light { display: block};
  .logo-dark { display: none};

  .themag-dark & {
    .logo-light { display: none};
    .logo-dark { display: block};
  }
}

// Header
//
.header {
  position: relative;
  z-index: 10;

  a {
    color: var(--mag-text-primary);
    text-decoration: none;

    &:hover {
      color: var(--mag-text-primary);
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__main__left {
    display: flex;
    align-items: center;
  }

  &__main__right {
    display: flex;
    align-items: center;
  }

  &__user-nav {
    display: flex;
    font-size: 20px;
    @include media-breakpoint-up(lg) {
      font-size: 1rem;
    }
  }
}


// Sticky wrapper
.header-sticky-wrapper {
  background: var(--mag-bg-default);
}

.is-sticky {
  position: sticky;
  top: 0;
  .toolbar-horizontal & {
    top: 39px;
  }
  .toolbar-horizontal.toolbar-tray-open & {
    top: 79px;
  }
}

// Header social menu
.header__social-menu {
  font-size: .9rem;

  a {
    display: inline-block;
    margin-left: .25rem;
    color: var(--mag-text-secondary);
    transition: all .2s ease-in-out;

    &:hover {
      color: var(--mag-text-primary);
    }
  }
}

// User action menu
.header__toggleable-button,
a.cart-block--link__expand {
  @include button__reset;
  padding: .25rem .3rem;
  color: var(--mag-text-primary);
  transition: all .15s ease-in-out;

  &:hover {
    color: var(--mag-headline);
  }
}

// Toggleable account menu in header
.header__toggleable-account-menu {
  position: relative;
  display: flex;
  justify-content: center;

  > ul.menu {
    display: none;
    background: var(--mag-navigation-bg);
    box-shadow: 0 4px 16px 0 rgba(#000, .2);
    border-radius: 2px;
    font-size: .9rem;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    &.is--active {
      display: block;
    }

    > li > a {
      background-color: transparent;
      font-weight: bold;
      transition: all .2s ease-in-out;
      &:hover {
        background-color: var(--mag-navigation-bg-hover);
      }
    }

    @include media-breakpoint-up(lg) {
      font-size: .7778rem;
      right: auto;
    }
  }

  ul.menu {
    @include list__reset;
    min-width: 150px;

    li {
      display: block;
      padding: 0;
      line-height: 1.25;
      white-space: nowrap;
      &:first-child {
        //border-top: 1px solid rgba($theme-gray-lighter, .5);
      }
      &:last-child {
        border-bottom: none;
      }
      a {
        display: block;
        padding: .3rem 1rem;
        border-bottom: 1px solid var(--mag-divider);
      }
    }

    li.menu-item--expanded {
      padding-bottom: 0;
      > a {
        font-weight: bold;
        background-color: var(--mag-navigation-bg);
      }
      ul {
        background: var(--mag-navigation-bg);
        li a {
          color: var(--mag-navigation-color);
          padding: .25rem 1rem;
          border-bottom: 1px solid rgba(#FFF, 1);
          &:hover{
            background: var(--mag-navigation-bg-hover);
            color: var(--mag-navigation-color-hover);
          }
        }
        li:first-child {
          border-top: none;
        }
      }
    }
  }
}

// Mobile menu toggle button
.toggle-offcanvas-sidebar {
  display: block;
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid var(--mag-divider);
  @include media-breakpoint-up(lg) {
    display: none;
  }
}


// -----------
// Header A
// -----------
.header--header-a {
  background: var(--mag-bg-default);
  .themag-dark & {
    background: var(--mag-bg-grey);
  }

  .header__container-wrapper--header__main {
    box-shadow: 0 4px 4px 0 rgba(#000, .2);
  }

  .header__main {
    padding: .5rem 0;
  }

  .header__social-menu {
    display: none;
    margin-right: .4rem;
    padding-right: .7rem;
    border-right: 1px solid var(--mag-border);
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  .region-header-primary-menu {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
      margin-left: 1rem;
    }
  }
}

// -----------
// Header B
// -----------
.header--header-b {
  &.header-top {
    background: var(--mag-bg-default);
    border-bottom: 1px solid var(--mag-divider);
  }

  .header__top {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .header__container-wrapper--header__main {
    background: var(--mag-bg-default);
    box-shadow: 0 4px 4px 0 rgba(#000, .2);
    .themag-dark & {
      background: var(--mag-bg-grey);
    }
  }

  .header__main {
    padding: .5rem 0;
  }
}


// -----------
// Header C
// -----------
.header--header-c {
  &.header-top {
    background: var(--mag-bg-default);
    border-bottom: 1px solid var(--mag-divider);
  }

  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .header__container-wrapper--header__main {
    background: var(--mag-bg-default);
    box-shadow: 0 4px 4px 0 rgba(#000, .2);
    .themag-dark & {
      background: var(--mag-bg-grey);
    }
  }

  .header__main {
    padding: .5rem 0;
  }

  .header__social-menu {
    display: none;
    margin-right: .4rem;
    padding-right: .7rem;
    border-right: 1px solid var(--mag-border);
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}


// -----------
// Header D
// -----------
.header--header-d {
  &.header-top {
    background: var(--mag-bg-default);
    border-bottom: 1px solid var(--mag-divider);
  }

  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .header__container-wrapper--header__main {
    background: var(--mag-bg-default);
    box-shadow: 0 4px 4px 0 rgba(#000, .2);
    .themag-dark & {
      background: var(--mag-bg-grey);
    }
  }

  .header__main {
    padding: .5rem 0;
  }
}
