button, input[type='submet'] {
  &:focus {
    outline: none;
  }
}


// Button
//
.button {
  display: inline-block;
  background-color: var(--mag-button);
  padding: 8px 24px;
  border: 1px solid var(--mag-button);
  border-radius: $input-border-radius;
  color: var(--mag-text-primary);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: all .2s ease-in-out;
  cursor: pointer;
    &:hover {
      background-color: var(--mag-button-hover);
      border-color: var(--mag-button-hover);
      box-shadow: 0 1px 3px 0 rgba(#000, .2);
    }
  &:active {
    background-color: var(--mag-button);
    border-color: var(--mag-button);
    box-shadow: none;
  }
}


// Button class on <a> tag
//
a.button {
  color: var(--mag-text-primary);
  text-decoration: none;
  &:hover {
    color: var(--mag-text-primary);
  }
}


// Primary button
//
.button--primary {
  background-color: $theme-primary-color;
  border-color: $theme-primary-color;
  color: #FFF;
  &:hover {
    background-color: lighten($theme-primary-color, 5%);
    border-color: lighten($theme-primary-color, 5%);
    color: #FFF;
    text-shadow: 0 -1px 0 rgba($theme-primary-color, .3);
  }
}

// Large button
.button--large {
  @include media-breakpoint-up(lg) {
    padding: 15px 3rem;
  }
}
