// Horizontal Tabs
//
.horizontal-tabs {
  margin: 0 0 1rem 0;
  padding: 0;
  border: none;
  ul.horizontal-tabs-list {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--mag-border);
    .horizontal-tab-button {
      margin: 0;
      padding: 0;
      background-color: transparent;
      border: none;
      text-transform: uppercase;
      a, &.selected a {
        color: var(--mag-text-secondary);
        margin-bottom: -3px;
        padding: .5rem 1rem;
        transition: color .2s ease-in-out;
        @include media-breakpoint-up(lg) {
          padding: 1rem 2rem;
        }
        &:hover {
          background-color: transparent;
          color: var(--mag-headline);
        }
      }
      &.selected a {
        border-bottom: 6px solid var(--mag-headline);
        color: var(--mag-headline);
      }
    }
  }
  details.horizontal-tabs-pane {
    padding: 1rem 0 0 0;
    > .details-wrapper {
      background: transparent;
      padding: 0;
      border: none;
    }
    table tr:first-child {
      th, td {
        border-top: none;
      }
    }
  }
}
